@use "../../Scss-styles/variables";
/* Range input sliders */

.wrapper-range {
  display: flex;
  justify-content: center;
  min-width: 80vw;
  align-items: center;
  gap: 1rem;
}

.wrapper-range > span {
  width: 1rem;
  padding: 0 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.wrapper-range > label {
  font-size: 1.2rem;
  width: 30vw;
}

.range-slider {
  appearance: none;
  margin: 0 0.5rem;
  width: 25%;
  height: 1rem;
  border-radius: 1rem;
  background: var(--bg-tertiary);
  opacity: 1;
}

.range-slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--primary);
  cursor: pointer;
}

.range-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--primary);
  cursor: pointer;
}

@media (max-width: 600px) {
  .wrapper-range {
    flex-direction: column;
  }
  .wrapper-range > label {
    width: 90vw;
  }
  .range-slider {
    width: 60%;
  }
}
