@use "../../mixin";
@use "../../variables";

.lexicon {
  @include mixin.flex-center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.lexicon-view {
  background-color: variables.$second-white;
  height: 100%;
  width: 90vw;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2.5px solid black;
  border-radius: 0.3rem;
}

.title-lexicon {
  font-size: 1.8rem;
  margin: 1rem 0;
}

.wrapper-options-lexicon {
  @include mixin.flex-center;
}

.search-bar {
  @include mixin.input-text;
  background-image: url("../../Img/search_icon.svg");
  background-size: 30px;
  background-position: 240px 1px;
  background-repeat: no-repeat;
}

.search-bar::placeholder {
  font-size: 1.25rem;
  font-style: italic;
}

.span-current-list {
  margin: 1rem;
  font-size: 1.2rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.span-current-list > strong {
  font-size: 1.2rem;
}

.lexicon-view::-webkit-scrollbar {
  border-radius: 1rem;
  width: 1rem;
  background: white;
}

::-webkit-scrollbar-track {
  margin: 0.2rem;
}

::-webkit-scrollbar-thumb {
  padding: 2rem;
  border-radius: 1rem;
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
