@use '../../Scss-styles/variables';

.wrapper-phono {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.container {
    background-color: var(--card-color);
    box-shadow: var(--shadow);
    border-radius: 8px;
    padding: 1rem;
    margin-top: 1rem;
    width: auto;
    min-width: 40vw;
    max-width: 80vw;
}

.container>span {
    font-size: 1.6rem;
}

.title-phono {
    margin-bottom: 1rem;
    font-size: 2rem;
}