@use "./variables";
@use "./mixin";

.btn {
  background-color: var(--primary);
  color: white;
  border: 2px solid transparent;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  margin: 0.5rem;
}

.btn:hover {
  border: 2px solid var(--border);
  opacity: 0.9;
  transition: 200ms;
}

.btn-generate {
  position: relative;
  z-index: 0;
}

.btn-fill::before {
  position: absolute;
  content: "";
  background: var(--primary-hover);
  transition-duration: 0.5s;
  z-index: -1;
  inset: 0;
  width: 0;
  height: 100%;
}

.btn-fill:hover::before {
  width: 100%;
  height: 100%;
}

.btn-fill:hover {
  cursor: pointer;
  transition: background 0.5s;
}

.btn-secondary {
  border: none;
  background-color:  var(--secondary);
}

.btn-secondary:hover {
  border: none;
}

.btn-tertiary {
  background-color: var(--tertiary);
  color: white;
  font-size: 1.1rem;
}
.btn-tertiary:hover {
  background: var(--tertiary-hover);
}

.btn-letter {
  font-size: 1.2rem;
  padding: 0.3rem;
  margin: 0.2rem;
  background-color:  var(--bg-tertiary);
  color: black;
  border: none;
  border-radius: 0.2rem;
}

.btn-letter:hover {
  background-color: var(--gray-hover);
}
