::-webkit-scrollbar {
  width: 1rem;
  background: #f2f2f2;
}

::-webkit-scrollbar-track {
  //background: #f2f2f2;
  margin: 0.2rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
