@use "../../Scss-styles/variables";
@use "../../Scss-styles/mixin";

.wrapper-tb-cons {
 @include mixin.flex-center;
  flex-direction: column;
}
.table-title {
  font-size: 1.6rem;
  margin: 0.5rem;
  font-weight: bold;
}

.wrapper-other-cons {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.tb tr:last-child > td {
  border-bottom: none;
}

.tb tr > td:last-child,
.tb tr > th:last-child {
  border-right: none;
}
.tb {
  border-spacing: 0;
  border: 1.5px solid black;
  border-radius: 0.3rem;
  background-color: white;
}

.tb th {
  border-right: solid 1.5px black;
  border-bottom: solid 1.5px black;
  font-weight: normal;
  padding: 0.6rem 0.2rem;
  width: 6vw;
  font-size: 0.7rem;
}

.tb td {
  border-right: solid 1.5px black;
  border-bottom: solid 1.5px black;
}

.cell {
  text-align: center;
  height: 8vh;
  font-size: 1.3rem;
}
.cell-header {
  font-size: 0.7rem;
}

.cell-filled {
background-color: variables.$light-gray;
}

.cell-large {
  width: 20vw;
  height: 6vh;
  padding: 0;
}

@media (max-width: 800px) {
  .tb-cons-main {
    display: block;
    overflow-x: auto;
    width: 90vw;
  }
}
