.table-alignment-verb {
  margin: 2rem 0;
  border-collapse: collapse;
}

.cell-alignment-verb {
  border: 2px solid;
  padding: 0.5rem;
}

.cell-forbidden {
  background-color: gray;
}

.table-alignment-verb-caption {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0.3rem;
}
.wrapper-verb {
  text-align: left;
}

.wrapper-table-verbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}