@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap");

$font:  -apple-system, BlinkMacSystemFont, "Maven Pro", "Roboto", "Oxygen", "Ubuntu", sans-serif;

$primary-color: #5d5dcf;
$secondary-color: #383847;
$tertiary-color: #a3a3e3;
$white: #f2f2f2;
$second-white: #F7F7F7;
$light-gray: #cccccc;
