@use "_variables";
@use "_mixin";

/* General settings */

* {
  padding: 0;
  margin: 0%;
  font-size: 16px;
  box-sizing: border-box;
  font-family: variables.$font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-y: scroll;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: variables.$white;
  min-height: 100vh;
}

.list-default {
  height: 100%;
  list-style: none;
  padding:0 1rem;
}

.list-numbered {
  height: 100%;
  padding: 0 1rem;
}

.center {
  @include mixin.flex-center;
  flex-direction: column;
  height: 80vh;
}

.center-no-height{
  @include mixin.flex-center;
  flex-direction: column;
}

.title-l {
  font-size: 1.6rem;
  margin: 0.5rem;
}
.title-m {
  font-size: 1.4rem;
}

.btn {
  background-color: variables.$primary-color;
  color: white;
  border: 2px solid transparent;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  margin: 0.5rem;
}

.btn:hover {
  border: 2px solid black;
  opacity: 0.9;
  transition: 200ms;
}

.btn-generate {
  position: relative;
  z-index: 0;
} 

.btn-fill::before {
  position: absolute;
  content: "";
  background: darken(variables.$primary-color, 20%);
  transition-duration: 0.5s;
  z-index: -1;
  inset: 0;
  width: 0;
  height: 100%;
} 

.btn-fill:hover::before {
  width: 100%;
  height: 100%;
} 

.btn-fill:hover {
  cursor: pointer;
  transition: background 0.5s;
}

.btn-secondary {
  border: none;
  background-color: variables.$secondary-color;
}
.btn-secondary:hover {
  border: none;
}

.btn-tertiary {
  background-color: variables.$tertiary-color;
  color: white;
  font-size: 1.1rem;
}
.btn-tertiary:hover {
  background-color: darken(variables.$tertiary-color, 10%);
}

fieldset {
  border: none;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.label-letters {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem;
  text-align: center;
}

#consonants-input,
#vowels-input {
  @include mixin.input-text;
  min-width: 45vw;
  outline: none;
}

#consonants-input:focus,
#vowels-input:focus {
  transform: scale(1.05);
  transition: 200ms;
}

.wrapper-ipa {
  background-color: variables.$white;
  border-radius: 0.3rem;
  padding: 0.3rem;
}

.btn-letter {
  font-size: 1.2rem;
  padding: 0.3rem;
  margin: 0.2rem;
  background-color: variables.$light-gray;
  color: black;
  border: none;
  border-radius: 0.2rem;
}

.btn-letter:hover {
  background-color: rgb(224, 224, 224);
}

.input-letters {
  @include mixin.flex-center;
  flex-direction: column;
}

.list-display {@include 
  mixin.flex-center;
  margin: 2rem;
  height: 60vh;
  width: 80vw;
  overflow-y: auto;

  flex-direction: row;
}

/* Toggle switch */

.wrapper-param {
  @include mixin.flex-center;
  gap: 1rem;
}
.wrapper-param > span {
  font-size: 1.2rem;
}
