@use "./Scss-styles/variables";
@use "./Scss-styles/mixin";
@use "./Scss-styles//buttons.scss";
/* General settings */

* {
  padding: 0;
  margin: 0%;
  font-size: 16px;
  box-sizing: border-box;
  font-family: variables.$font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-y: scroll;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: variables.$white;
  min-height: 100vh;
}

.icon-main {
  height: 150px;
  width: 150px;
  margin: auto;
}

.list-default {
  height: 100%;
  list-style: none;
  padding: 0 1rem;
}

.list-numbered {
  height: 100%;
  padding: 0 1rem;
}

.center {
  @include mixin.flex-center;
  flex-direction: column;
  height: 60vh;
}

.center-no-height {
  @include mixin.flex-center;
  flex-direction: column;
}

.title-l {
  font-size: 1.6rem;
  margin: 0.5rem;
}
.title-m {
  font-size: 1.4rem;
}


fieldset {
  border: none;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.label-letters {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem;
  text-align: center;
}

#consonants-input,
#vowels-input {
  @include mixin.input-text;
  min-width: 45vw;
  outline: none;
}

#consonants-input:focus,
#vowels-input:focus {
  transform: scale(1.05);
  transition: 200ms;
}

.wrapper-ipa {
  background-color: variables.$white;
  border-radius: 0.3rem;
  padding: 0.3rem;
}


.input-letters {
  @include mixin.flex-center;
  flex-direction: column;
}

.language-name {
  font-size: 2rem;
  margin: 0.5rem
}

.generation-text {
  font-size: 1.5rem;
  margin: 1rem;
  margin-bottom: 2rem;
  width: 60%;
}

/* Toggle switch */

.wrapper-param {
  @include mixin.flex-center;
  gap: 1rem;
}

.wrapper-param > span {
  font-size: 1.2rem;
  text-align: center;
  min-width: 20vw;
}


@media (max-width: 800px) {
  .btn {
    width: 25vh;
  }

  .generation-text {
    width: 90%;
  }
}