@use "../../Scss-styles/mixin.scss";

.table-alignment-verb {
  margin: 2rem 0;
  border-collapse: collapse;
}

.cell-alignment-verb {
  border: 2px solid;
  padding: 0.5rem;
}

.cell-forbidden {
  background-color: gray;
}

.table-alignment-verb-caption {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0.3rem;
}
.wrapper-verb {
  text-align: left;
}

.wrapper-table-verbs {
  @include mixin.flex-center;
  flex-direction: row;
  gap: 1rem;
}

.title-table {
  margin: 0.4rem;
  font-size: 1.2rem;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .table-alignment-verb {
    display: block;
    overflow-x: auto;
  }
}

@media (max-width: 600px) {
  .wrapper-table-verbs {
    flex-direction: column;
  }
}